{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    {{- if .imageUrl -}}
        <img class="img" draggable="false" src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
        height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
    {{- end }}
    <div class="content">
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content">
            {{ .Content | markdownify }}
        </div>
        <footer class="entry-footer">
            {{ partial "social_icons.html" site.Params.socialIcons }}
        </footer>
    </div>
</article>
{{- end -}}